.highlight {
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
width=300;
}
.blue {
  background-color: #9ccdf7;
color: #0b5ca3;
}
.red{
  background-color: #f5ada9;
color: #b8281f;
}
.green{
  background-color: #a3f0d5;
color: #099166;
}
.black{
  background-color: #bfc9c6;
color: #424746;
}
.hg{
color:green;
}
.hb{
color:blue;
}
.ho{
color:orange;
}